SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=com.panel.panelapp://callback
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=com.panel.panelapp://callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
